/*Стили блока перекрывают стиль модификатора,
из-за этого сделал импорт стиля модификатора в index.css*/

.header__lang-link {
  margin: 0 0 0 18px; 
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen 
  and (min-width: 320px)
  and (max-width: 425px) {
    .header__lang-link {
      font-size: 18px;
      line-height: 1.3;
  }
}