.lead__title {
  margin: 0 0 32px;
  max-width: 720px;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: 0.4s;
}

@media screen 
  and (min-width: 426px) 
  and (max-width: 768px) {
    .lead__title {
      width: 93.8%;
    }
}

@media screen  
  and (max-width: 720px) {
    .lead__title {
      font-size: 58px;
    }
}

@media screen 
  and (min-width: 320px) 
  and (max-width: 425px) {
    .lead__title {
      max-width: 288px;
      margin: 0 0 16px;
      font-weight: 900;
      font-size: 40px;
      line-height: 1.1;
    }
}