.lead__caption {
  margin: 0;
  -ms-align-self: flex-start;
  align-self: flex-start;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
  margin: 0 0 0 24px;
  }
}

@media screen 
  and (min-width: 320px) 
  and (max-width: 425px) {
    .lead__caption {
      margin: 0 0 0 16px;
    }
}