.cover__title {
  padding: 245px 0 32px;
  margin: 0;
  width: 48%;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  text-rendering: optimizeLegibility;
  z-index: 2;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding: 195px 0 32px;
    width: 60%;
  }
}

@media screen and (max-width: 680px) {
  .cover__title {
    font-size: 52px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    padding: 115px 0 32px;
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    padding: 33px 20px 16px;
    width: 90%;
    font-size: 32px;
    line-height: 1.09;
  }
}