@import url('./__title/place__title.css');
@import url('./__image/place__image.css');
@import url('./__website/place__website.css');
@import url('./__url-heading/place__url-heading.css');
@import url('./__link/place__link.css');
@import url('./__paragraphs/place__paragraphs.css');
@import url('./__paragraph/place__paragraph.css');

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 48px;
  grid-column-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 425px) {
  .place {
  	grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 32px;
  }
}

.place:last-child {
  padding: 0 0 92px;
}

@media screen and (max-width: 768px) {
  .place:last-child {
    padding: 0 0 88px;
  }
}

@media screen and (max-width: 425px) {
  .place:last-child {
    padding: 0 0 64px;
  }
}